{% extends 'AstonBackBundle::layout.html.twig' %}

{% block body %}
  <h1>{{ 'posts list'|trans }}</h1>
  
  <table class="table">
    <tr>
      <th>#</th>
      <th>{{ 'Title'|trans }}</th>
      <th>{{ 'Category'|trans }}</th>
      <th>{{ 'Date'|trans }}</th>
      <th>{{ 'Action'|trans }}</th>
    </tr>
    {% for post in posts %}
    <tr>
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{% if post.category %}{{ post.category.name }}{% endif %}</td>
      <td>{{ post.createdAt|date('d/m/Y') }}</td>
      <td>
        <a href="{{ path('aston_back_blog_detail', {id: post.id}) }}" class="btn btn-xs btn-success">Voir</a>
        <a href="{{ path('aston_back_blog_update', {id: post.id}) }}" class="btn btn-xs btn-default">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock body %}